Flask==2.0.3
Werkzeug==2.2.2
pandas==2.1.4
pydantic==1.10.9
langchain==0.0.352 
sentence_transformers==2.2.2
torch==2.1.2
sentencepiece==0.1.99
transformers==4.36.2 
accelerate==0.25.0 
chromadb==0.4.21 
pypdf==3.17.3
flask-cors==4.0.0
faiss-cpu==1.7.4